<ion-header>
  <ion-toolbar>
    <ion-title>Teachers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Search bar -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchChange()" placeholder="Search teachers..."></ion-searchbar>

  <!-- Add button -->
  <ion-button expand="block" color="primary" (click)="createTeacher()">Add Teacher</ion-button>

  <!-- Teacher list -->
  <ion-list *ngIf="teachers.length > 0">
    <ion-item *ngFor="let teacher of teachers">
      <ion-label>
        <h2>{{ teacher.firstName }} {{ teacher.lastName }}</h2>
        <p>{{ teacher.title }}</p>
        <p *ngIf="teacher.courses?.length">
          Teaches:
          <ng-container *ngFor="let course of teacher.courses; let i = index">
            {{ course.title }}<span *ngIf="i < teacher.courses.length - 1">, </span>
          </ng-container>
        </p>
      </ion-label>
      <ion-button fill="clear" color="primary" (click)="editTeacher(teacher)">Edit</ion-button>
      <ion-button fill="clear" color="danger" (click)="deleteTeacher(teacher.id)">Delete</ion-button>
    </ion-item>
  </ion-list>

  <!-- Error message -->
  <ion-text color="danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </ion-text>

  <!-- Pagination controls -->
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col size="6">
        <ion-button expand="block" (click)="prevPage()" [disabled]="currentPage === 0">Previous</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="nextPage()" [disabled]="isLastPage">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
